
/*-------------------- navbar and login part---------------------- */


body{
    background-image: url(image.jpg);
    padding-top: 5px; 
    background-repeat: no-repeat;
    background-size: 100%; 
    
    
} 


.navbar img{
    width: 100px;
    padding-left: 20px; 
}


h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Teko', sans-serif;
    font-weight: bold; 
}

#size{
    height: 30px;
    width: 100%;
}

#shadow{
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    width: 50%;
    margin: auto;
    padding-top: 5px;
}

#wel{
    color: rgb(219, 34, 34);
}
#ab-bank{
    color: rgb(2, 146, 2);
}

.submit-area{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#login-area{
    margin-top: 15px;
    
    margin-bottom: 20px;

}

/*----------------------- navbar and login page  end---------------------------- */


/*------------------------ Money transaction box--------------------------------- */

#transaction-area{
    display: none;  
}

#headingText{
    
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

#bg-line{

    height: 8px;
    width: 320px;
    display: block;
    margin: 10px auto 30px;
    background-image: linear-gradient(380deg, #e01c2c, #19ff4b);
    border-radius: 5px;
}
.transaction-fluid{
    
    padding: 0px 100px;  
}

.status{
    margin: 10px 20px;
    padding: 18px;
    border-radius: 10px;
    color: white;
}
.deposit{
    
    background-color: slateblue;
    
}

.withdraw{
    background-color: lightsalmon;
    
}

.balance{
    background-color: orange;
    padding-right: 0px;
    
}

/*------------------------------ money transaction box end----------------------------- */

/*--------------------------- Deposite and Widthdraw part ------------------------------*/

.submit{
    box-shadow: 5px 5px 10px gray;
    padding: 50px 40px;
    border-radius: 20px;
    margin-top: 50px;
}

/*---------------------------- Footer Part -----------------------------------------*/
.footer-end{
    padding-left: 45%;
    padding-top: 100px;
}